body {
  animation: showingslowly1 2s ease-out;
}

/* .logo1 {
  animation: typing 2s steps(15, end); }/* Ensures the animation finishes and stays at the final state */

/* @keyframes typing {
  from {
    width: 0;
    opacity: 0;
    border-right: solid black;
  }
  to {
    width: 100%;
    opacity: 1;
    border-right: transparent;
  }
} */
@keyframes showingslowly1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
