{% extends 'layout.html' %} 
{% block body %} 
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Reach out Anytime</h1>
                <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" action="mailto:ubaidalishah18@gmail.com?subject=Contact%20Form%20Submission" method="post" enctype="text/plain">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." name="name" required />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" name="email" required />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" name="phone" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" placeholder="Enter your message here..." name="message" style="height: 10rem" required></textarea>
                            <label for="message">Message</label>
                           <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg" style="cursor: pointer;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <script>
    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission

        // Get form data
        var name = encodeURIComponent(document.getElementById('name').value);
        var email = encodeURIComponent(document.getElementById('email').value);
        var phone = encodeURIComponent(document.getElementById('phone').value);
        var message = encodeURIComponent(document.getElementById('message').value);
        var contactFormSubmission='Contact Form Submission';

        // Construct the mailto link
        var mailtoLink = `mailto:ubaidalishah18@gmail.com?subject=${contactFormSubmission}&body=Name:%20${name}%0AEmail:%20${email}%0APhone:%20${phone}%0AMessage:%20${message}`;

        // Open the mailto link in the user's default email client
        window.location.href = mailtoLink;
    });
</script> -->
{% endblock %}


